@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-gray-800 mb-4 text-xl;
}

input,
textarea,
select {
  @apply border-none rounded-sm px-2 w-full p-2 focus:outline-none mb-2 focus:border-none bg-gray-100 focus:bg-gray-200;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-blue-900;
}

label {
  @apply text-primary text-sm;
}

.btn-primary {
  @apply bg-blue-900 text-white px-6 py-1 rounded-md;
}

table.basic {
  @apply w-full;
}

table.basic thead tr td {
  @apply text-sm text-gray-600 uppercase border-b border-gray-300;
}

table.basic tr td {
  @apply p-2;
}

table.basic a {
  @apply text-white text-sm px-2 py-1 rounded-sm inline-flex gap-1 mr-2 items-center;
}

.table-btn-blue {
  @apply !text-primary text-sm px-4 py-1 rounded-sm inline-flex gap-1 mr-2 items-center !bg-primary/30;
}

.table-btn-red {
  @apply !text-red-700 text-sm px-4 py-1 rounded-sm inline-flex gap-1 mr-2 items-center !bg-red-200;
}

.btn-red,
.btn-default {
  @apply px-4 py-1 rounded-md;
}

.btn-red {
  @apply bg-red-800 text-white;
}

.btn-default {
  @apply bg-gray-500 text-white;
}

img {
  max-height: 100%;
}
